#Data Type(premetive)
#1.int = Value without decimal
#2.float = Vaalue With Decimal
#3.complex
#4.bool
#5.string

In [14]:
i = 2
i

2

In [15]:
type(i)

int

In [16]:
f = 110.11
f

110.11

In [17]:
type(f)

float

In [18]:
f1 = 1e0
f1

1.0

In [19]:
f2 = 2e1
f2

20.0

In [20]:
f3 = 3e2
f3

300.0

Float Done

In [21]:
b = True
b

True

In [22]:
type(b)

bool

In [23]:
b1 = False
b1

False

In [24]:
b2 = true

NameError: name 'true' is not defined

In [13]:
b3 =  false

NameError: name 'false' is not defined

Boolean Done

In [26]:
c = 10 + 20j
c

(10+20j)

In [27]:
type(c)

complex

In [29]:
c.real

10.0

In [30]:
c.imag

20.0

In [32]:
c1 = 5 + 5j
c1

(5+5j)

In [33]:
c + c1

(15+25j)

In [34]:
c - c1

(5+15j)

In [35]:
c * c1

(-50+150j)

In [1]:
c2 = 10 + 2.5j
c2

(10+2.5j)

In [2]:
c3 = 2.0 + 34j

In [3]:
c3

(2+34j)

Complex done

In [4]:
s = 'generative ai & llm model great carreer ahead, also it is research domain'

In [5]:
s

'generative ai & llm model great carreer ahead, also it is research domain'

In [7]:
s1 = "generative ai & llm model great carreer ahead, also it is research domain"
s1

'generative ai & llm model great carreer ahead, also it is research domain'

In [12]:
s3 = '''generative ai & llm model great carreer ahead, 
 also it is research domain'''
s3

'generative ai & llm model great carreer ahead, \n also it is research domain'

basic string completed

In [15]:
int(2.3)

2

In [17]:
int(2.3,3.7)

TypeError: 'float' object cannot be interpreted as an integer

In [18]:
int(True)

1

In [19]:
int('10')

10

In [20]:
int('ten')

ValueError: invalid literal for int() with base 10: 'ten'

In [21]:
int(1 + 2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

We cannot type cast from  complex to integer and rest of them can be possible(Strinng should be number only)

In [22]:
float(10)

10.0

In [23]:
float(False)

0.0

In [24]:
float('20')

20.0

In [25]:
float('twenty')

ValueError: could not convert string to float: 'twenty'

In [26]:
float(10 + 20j)

TypeError: float() argument must be a string or a real number, not 'complex'

We cannot type cast from  complex to float and rest of them can be possible(Strinng should be number only)

In [27]:
print(bool(9))
print(bool(9.9))
print(bool('9'))
print(bool(9+9j))
print(bool(_))
print(bool())

True
True
True
True
True
False

In [28]:
print(bool( ))

False

We can type cast from all datatypes to bool

In [35]:
str('2')

'2'

In [36]:
str('2.2')

'2.2'

In [37]:
str('True')

'True'

In [38]:
str('False')

'False'

In [39]:
str('20+10j')

'20+10j'

We can type cast from all datatypes to string