#Data Type(premetive)
1.int
2.float
3.complex
4.bool
5.string

In [29]:
i = 4
print(i)
print(type(i))

4
<class 'int'>

In [30]:
f = 110.444
print(f)
print(type(f))

110.444
<class 'float'>

In [31]:
f1 = 3e0
print(f1)

3.0

In [32]:
f2 = 3e1
print(f2)

30.0

In [33]:
f3 = 3e2
print(f3)

300.0

In [34]:
f4 = 2.3e4
print(f4)

23000.0

Boolean

In [35]:
true

NameError: name 'true' is not defined

In [49]:
True

True

In [50]:
false

NameError: name 'false' is not defined

In [51]:
FALSE

NameError: name 'FALSE' is not defined

In [52]:
False

False

In [53]:
none

NameError: name 'none' is not defined

In [54]:
None

In [55]:
True + False + None

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [56]:
True  + False

1

In [57]:
True + True

2

In [58]:
True + False * True - False

1

In [59]:
True + (False * True) + False

1

In [60]:
True + (False * True) - True

0

In [61]:
b = True + (False * True) - True
b

0

In [62]:
num1 = 10
num2 = 20
add = num1 + num2
print("The Addition",num1,"&",num2,"is =",add)

The Addition 10 & 20 is = 30

complex = a + bj

a = Real part

b = imaginary part

j = Square root of -1

In [63]:
c = 10 + 20j
c

(10+20j)

In [64]:
type(c)

complex

In [65]:
d = 30 + 40j

In [66]:
print(c)
print(d)

(10+20j)
(30+40j)

In [67]:
print(c + d)

(40+60j)

In [68]:
print(c - d)

(-20-20j)

In [69]:
c.real

10.0

In [70]:
c.imag

20.0

String

In [8]:
s = 'Naresh IT'
s

'Naresh IT'

In [9]:
type(s)

str

In [10]:
s1 = "Nareshit"
s1

'Nareshit'

In [15]:
s2 = "Nareshit"
print(s1)
print(type(s2))

Nareshit
<class 'str'>

In [18]:
s3 = '''naresh
 technology'''
print(s3)
print(type(s3))

naresh
 technology
<class 'str'>

In [27]:
s4 = "nareshit"
for i in s4:
    print(i)

n
a
r
e
s
h
i
t

In [28]:
s4[3]

'e'

In [22]:
s4[-3]

' '

In [23]:
s4[0:3]

'nar'

In [36]:
s4[-5:-1]

'eshi'

In [37]:
s4[-7:6]

'aresh'

In [38]:
s4[-4:7]

'shi'

In [39]:
s4[0:7:2]

'nrsi'

In [40]:
s4[0:6:3]

'ne'

In [45]:
s1 = "Hello"
s2 = " Viraj"
s3 = s1 + s2
s3

'Hello Viraj'