List

1. List is an ordered sequence of items.

2. We can have different data types under a list. E.g. we can have integer, float & string in a same list.

In [2]:
l1 = []
l1

[]

Emepty list is created

In [4]:
l2 = [10, 20, 30]
l2

[10, 20, 30]

list containing integers only

In [6]:
l3 = [10.5,20.55,40.66]
l3

[10.5, 20.55, 40.66]

This is a list of float numbers.

In [7]:
l4 = ['one', 'two', 'three']
l4

['one', 'two', 'three']

list contains 'string' only.

In [9]:
l5 = ['viraj', 10,[20,40],[30,50]]
l5

['viraj', 10, [20, 40], [30, 50]]

Nested List: The list inside the list called nested list.

In [11]:
l6 = [100,'viraj',10.25]
l6

[100, 'viraj', 10.25]

List with mixed data types.

In [12]:
l7 = ['viraj', 7 ,[50, 100],[150, 90] , {'gaurav' , 'sunny'}]

['viraj', 7, [50, 100], [150, 90], {'gaurav', 'sunny'}]

In [13]:
len(l2)

3

checking length of list using len() function

List Indexing

2 Types of Indexing:

1.Forward Indexing

2.Backward Indexing

In [14]:
l2

[10, 20, 30]

In [15]:
l1

[]

In [16]:
l3

[10.5, 20.55, 40.66]

In [17]:
l4

['one', 'two', 'three']

In [18]:
l5

['viraj', 10, [20, 40], [30, 50]]

In [19]:
l6

[100, 'viraj', 10.25]

In [20]:
l2[0]

10

retrive the element at 0 index position in list 'l1'

In [23]:
l3[-1]

40.66

Retriving the item of list from backside of the list.Hence  called backward indexing

In [24]:
l6[2]

10.25

In [25]:
l4[-3]

'one'

List Slicing

3 type of slicing

1. Forward Slicing

2. Backward Slicing

3. Step Slicing

In [37]:
print(l2)
print(l3)
print(l4)
print(l5)
print(l6)
print(l7)

[10, 20, 30]
[10.5, 20.55, 40.66]
['one', 'two', 'three']
['viraj', 10, [20, 40], [30, 50]]
[100, 'viraj', 10.25]
['viraj', 7, [50, 100], [150, 90], {'gaurav', 'sunny'}]

In [29]:
l2[0:1]

[10]

In [30]:
l5[2:5]

[[20, 40], [30, 50]]

In [31]:
l7[2:-2]

[[50, 100]]

In [32]:
l7[0:2:6]

['viraj']

In [33]:
l3[:2]

[10.5, 20.55]

In [35]:
l4[0:]

['one', 'two', 'three']

In [36]:
l6[:]

[100, 'viraj', 10.25]

Add , Remove & Change Items

List is mutable data structure we can Change add or remove items from the list using different Inbuild Function.

In [41]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [43]:
l.append(110)
l

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 110]

In [45]:
l.append(25)
l

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 110, 25, 25]

In [47]:
l.append(47)
l

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 110, 25, 25, 47, 47]

The "Append" Function is used to add the values at the last of the list.

In [48]:
l.insert(2, 15)
l

[10, 20, 15, 30, 40, 50, 60, 70, 80, 90, 100, 110, 110, 25, 25, 47, 47]

In [50]:
l.insert(5, 'Hello')
l

[10,
 20,
 15,
 30,
 40,
 'Hello',
 'Hello',
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 110,
 25,
 25,
 47,
 47]

In [58]:
l.insert(8,'Viraj')

In [60]:
l.insert(10,10)

In [61]:
l

[10,
 20,
 15,
 30,
 40,
 'Hello',
 50,
 60,
 'Viraj',
 70,
 10,
 80,
 90,
 100,
 110,
 110,
 25,
 25,
 47,
 47]

The 'Insert' Function is Used to add element at the given index position,the value is placed before the given index position

In [62]:
l

[10,
 20,
 15,
 30,
 40,
 'Hello',
 50,
 60,
 'Viraj',
 70,
 10,
 80,
 90,
 100,
 110,
 110,
 25,
 25,
 47,
 47]

In [63]:
l.remove(10)

In [64]:
l

[20,
 15,
 30,
 40,
 'Hello',
 50,
 60,
 'Viraj',
 70,
 10,
 80,
 90,
 100,
 110,
 110,
 25,
 25,
 47,
 47]

In [66]:
l.remove(110)

In [67]:
l

[20,
 15,
 30,
 40,
 'Hello',
 50,
 60,
 'Viraj',
 70,
 10,
 80,
 90,
 100,
 110,
 25,
 25,
 47,
 47]

'Remove' Function is used to remove the element present in list by element vise it remove the element at first occurance of the list

In [68]:
l.pop(-1)

47

In [70]:
l

[20, 30, 40, 'Hello', 50, 60, 'Viraj', 70, 10, 80, 90, 100, 110, 25, 25, 47]

In [69]:
l.pop(1)

15

In [71]:
l

[20, 30, 40, 'Hello', 50, 60, 'Viraj', 70, 10, 80, 90, 100, 110, 25, 25, 47]

In [72]:
l.pop(11)

100

In [73]:
l

[20, 30, 40, 'Hello', 50, 60, 'Viraj', 70, 10, 80, 90, 110, 25, 25, 47]

The 'pop' function id used to remove and return the element Indexwise and by default last.

In [78]:
del l[-1]

In [79]:
l

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [87]:
l.clear()

In [88]:
l

[]

The 'clear' Function will we clear all elemnts present inside the list.

In [89]:
del l

In [90]:
l

NameError: name 'l' is not defined

the del function will delete the list from the memory

Copy List

In [91]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
l

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [92]:
l1 = l.copy()

In [93]:
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [94]:
l2 = l

In [95]:
l2

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [99]:
id(l) , id(l2),id(l1)

(2411457242560, 2411457242560, 2411457241216)

For Copy The list we can use 2 ways by using "copy" Function in this the id will be different for both & when we equals 2 list the id will be same.

joiin list

In [100]:
l = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
l7 = ['viraj', 7 ,[50, 100],[150, 90] , {'gaurav' , 'sunny'}]

In [101]:
l3 = l + l7

In [102]:
l3

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 'viraj',
 7,
 [50, 100],
 [150, 90],
 {'gaurav', 'sunny'}]

In [103]:
l.extend(l7)

In [104]:
l

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 'viraj',
 7,
 [50, 100],
 [150, 90],
 {'gaurav', 'sunny'}]

We can join the list by using the '+' operator or we can use the extent function.
the Extend function add the element of previous list at the last of new list.

count

In [105]:
l.count(10)

1

the count is a function for counting no of elements present in the list.

Reverse the list

In [106]:
l.reverse()

In [107]:
l

[{'gaurav', 'sunny'},
 [150, 90],
 [50, 100],
 7,
 'viraj',
 100,
 90,
 80,
 70,
 60,
 50,
 40,
 30,
 20,
 10]

the reverse function is use to reverse the list

In [3]:
l4 = [12,54,85,97,21,45,36,55,44]

In [4]:
l4.sort(reverse=False)

In [5]:
l4

[12, 21, 36, 44, 45, 54, 55, 85, 97]

In [6]:
l4.sort(reverse=True)

In [7]:
l4

[97, 85, 55, 54, 45, 44, 36, 21, 12]

In [4]:
l7 = ['viraj', 7 ,50, 100,150, 90 ]
l7

['viraj', 7, 50, 100, 150, 90]

In [5]:
l7.sort(reverse=True)

TypeError: '<' not supported between instances of 'str' and 'int'

In [6]:
l5 = ['a','b','z','h']

In [7]:
l5.sort(reverse=True)

In [8]:
l5

['z', 'h', 'b', 'a']

The list is sort in ascending or descending order using sort function