Set: Sets are used to store multiple items in a single variable.

The Set items are unchangable But we can add and remove items of set.

The sets are deonoted by '{}'

Empty set creation

In [1]:
s1 = {1, 2, 3}
s1
print(type(s1))

<class 'set'>

Set of Integer Numbers.

In [2]:
s2 = {10.5,15.10,35.20}
s2

{10.5, 15.1, 35.2}

Set of Float Numbers

In [3]:
s3 = {'one', 'two', 'three','one'}
s3

{'one', 'three', 'two'}

The set of string.

Note: Sets does not allowed the duplicates. i.e. The similar elements in set for many time but it will print for single time

In [4]:
s4 = {'apple', 'banana', 'cherry',True,1,2,3,10.5,20.4}
s4

{10.5, 2, 20.4, 3, True, 'apple', 'banana', 'cherry'}

Set of mixed Values 

In the set the True is consider as 1 so when we give true, 1 only one value will be printed..
and False will be consider as 0.

In [5]:
s5 = {'apple', 'banana', True,{10.5,1}}

TypeError: unhashable type: 'set'

We cannot use nested set

In [ ]:
s5 = {}