# Sets

1) Unordered & Unindexed collection of items. 

2) Set elements are unique. Duplicate elements are not allowed. 

3) Set elements are immutable (cannot be changed). 

4) Set itself is mutable. We can add or remove items from it.

Set Creation

In [1]:
s = {10,50,60,40,80,60,20}
s

{10, 20, 40, 50, 60, 80}

In [3]:
type(s)

set

In [4]:
len(s)

6

Set of integer

In [5]:
s1 = {10.55,15.20,20.30,25.40,30.50}
s1

{10.55, 15.2, 20.3, 25.4, 30.5}

Set of Float numbers

In [6]:
s2 = {'john','jerry','jimmy','joe'}
s2

{'jerry', 'jimmy', 'joe', 'john'}

Set of String

In [8]:
s3 = {10,20,30,'jimmy',(10.55,15),True}
s3

{(10.55, 15), 10, 20, 30, True, 'jimmy'}

In [9]:
s4 = {10,20,30,'jimmy',True,[100,200,300]}

TypeError: unhashable type: 'list'

Set  Does not allowed list  inside set

In [10]:
s5 = {10,20,10,30,20,50,10}
s5

{10, 20, 30, 50}

The set does not allows duplicte..

In [11]:
s6 = set()
print(type(s6))

<class 'set'>

For creating the Empty sset we always require set function..

Loop Through Set

In [13]:
print(s)
print(s1)
print(s2)
print(s3)
print(s5)

{80, 50, 20, 40, 10, 60}
{20.3, 25.4, 10.55, 30.5, 15.2}
{'jerry', 'joe', 'jimmy', 'john'}
{True, 20, (10.55, 15), 10, 'jimmy', 30}
{10, 20, 50, 30}

In [17]:
for i in s:
    print(i)

80
50
20
40
10
60

In [18]:
for i in enumerate(s):
    print(i)

(0, 80)
(1, 50)
(2, 20)
(3, 40)
(4, 10)
(5, 60)

Set Membership

In [19]:
print(s)
print(s1)
print(s2)
print(s3)
print(s5)

{80, 50, 20, 40, 10, 60}
{20.3, 25.4, 10.55, 30.5, 15.2}
{'jerry', 'joe', 'jimmy', 'john'}
{True, 20, (10.55, 15), 10, 'jimmy', 30}
{10, 20, 50, 30}

In [20]:
1 in s

False

In [21]:
10 in s

True

In [22]:
if 'jimmy' in s2:
    print('jimmy is present in s2')
else:
    print('jimmy is not present in s2')

jimmy is present in s2

In [23]:
if False in s3:
    print('False is present in s3')
else:
    print('False is not present in s3')

False is not present in s3

Set membership means Checking whether the elements are member of the set or not.

Add & Remove Items

In [24]:
print(s)
print(s1)
print(s2)
print(s3)
print(s5)

{80, 50, 20, 40, 10, 60}
{20.3, 25.4, 10.55, 30.5, 15.2}
{'jerry', 'joe', 'jimmy', 'john'}
{True, 20, (10.55, 15), 10, 'jimmy', 30}
{10, 20, 50, 30}

In [27]:
s.add(100)
print(s)

{80, 50, 20, 100, 40, 10, 60}

In [28]:
s2.add('james')
s2

{'james', 'jerry', 'jimmy', 'joe', 'john'}

Adding the elements in set using 'add' Function.

In [30]:
s1.update([25.30,30.35,35.40])
s1

{10.55, 15.2, 20.3, 25.3, 25.4, 30.35, 30.5, 35.4}

In [33]:
s3.update([200,500,300])
s3

{(10.55, 15), 10, 20, 200, 30, 300, 500, True, 'jimmy'}

For adding Multiplle Items in set we are using 'update' Function.

In [34]:
s.remove(10)
s

{20, 40, 50, 60, 80, 100}

In [38]:
s1.remove(20.3)
s1

{15.2, 25.3, 25.4, 30.35, 30.5, 35.4}

For Removing the elements from Set we are using remove function.

In [39]:
s3.discard(10)
s3

{(10.55, 15), 20, 200, 30, 300, 500, True, 'jimmy'}

In [40]:
s2.discard('jimmy')
s2

{'james', 'jerry', 'joe', 'john'}

In [41]:
s.discard(100)
s

{20, 40, 50, 60, 80}

In [42]:
s.discard(70)
s

{20, 40, 50, 60, 80}

Discard function is used to remove the element from set even if element is not in the set discard never gives us bug.

In [44]:
s.pop()
s

{20, 40, 50, 60}

The pop function removes the element from the list randomly no argument is allowed.

In [45]:
s3.clear()
s3

set()

The clear function Delete all ements in the set.

In [46]:
del s3
s3

NameError: name 's3' is not defined

Delete the set object.

Copy Set

In [47]:
print(s)
print(s1)
print(s2)
print(s5)

{50, 20, 40, 60}
{35.4, 25.3, 30.35, 25.4, 30.5, 15.2}
{'jerry', 'james', 'joe', 'john'}
{10, 20, 50, 30}

In [52]:
s7 = s
s7

{20, 40, 50, 60}

In [58]:
id(s) , id(s7)    # both are same

(1585611057280, 1585611057280)

In [55]:
s8 = s.copy()
s

{20, 40, 50, 60}

In [57]:
id(s) , id(s8)   # id of s and s8 are different

(1585611057280, 1585627401568)

Set Operations

In [64]:
S1={10,20,30,40,50,60,70}
S2={60,70,80,90,100}
S3={80,90,110,120,130}
S1.union(S2)

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [65]:
S1 | S3

{10, 20, 30, 40, 50, 60, 70, 80, 90, 110, 120, 130}

In [66]:
S1.union(S2,S3)

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130}

Intersection

In [67]:
S1={10,50,60,40,80,60,20}
S2={20,40,80,100,60,70}
S3=S1.intersection(S2)
print(S3)

{80, 40, 20, 60}

In [68]:
S1 & S2

{20, 40, 60, 80}

In [69]:
S1.intersection(S2) Intersection of S1 and S2

SyntaxError: invalid syntax (2407578840.py, line 1)

Difference

In [70]:
S1={10,50,60,40,80,60,20}
S2={20,40,80,100,60,70}
S3=S1.difference(S2)
print(S3)

{50, 10}

In [71]:
S1 - S2

{10, 50}

Set of all elements That are only in S1 but not in S2

In [72]:
S2 - S1

{70, 100}

Set of Element only in S2 not in S1

Symmetric Difference

In [73]:
S1={10,50,60,40,80,60,20}
S2={20,40,80,100,60,70}
S3=S1.symmetric_difference(S2)
print(S3)

{50, 100, 70, 10}

In the symmetric Difference all the similar elements will deleted.

In [74]:
S1={10,50,60,40,80,60,20}
S2={20,40,80,100,60,70}
S1.symmetric_difference_update(S2)
print(S1)

{50, 100, 70, 10}

Subset, Superset & Disjoint

In [78]:
S1={10,20,30,40,50,60,70,80,90,100}
S2={20,40,80,100,60,70}
S2.issubset(S1)

True

In [80]:
S1.issuperset(S2)

True

In [81]:
S1.isdisjoint(S2)

False

In [82]:
S2.isdisjoint(S1)

False

1) add() = Adds an element to the set

2) clear() = Removes all the elements from the set

3) copy() = Returns a copy of the set

4) difference()	- == Returns a set containing the difference between two or more sets

5) difference_update() Removes the items in this set that are also included in another, specified set

6) discard() --> Remove the specified item

intersection()& = Returns a set, that is the intersection of two other sets

7) intersection_update()&   =	Removes the items in this set that are not present in other, specified set(s)

8) isdisjoint() = Returns whether two sets have a intersection or not

9) issubset()< = Returns whether another set contains this set or not <	Returns whether all items in this set is present in other, specified set(s)

10) issuperset()> =	Returns whether this set contains another set or not >	Returns whether all items in other, specified set(s) is present in this set

11) pop() = Removes an element from the set

12) remove() = Removes the specified element

13) symmetric_difference()^ = Returns a set with the symmetric differences of two sets

14) symmetric_difference_update()^ = Inserts the symmetric differences from this set and another

15) union()	| = Return a set containing the union of sets

16) update()| =	Update the set with the union of this set and others

# Other Builtin Function

In [84]:
print(s)
print(s1)
print(s2)
print(s5)

{50, 20, 40, 60}
{35.4, 25.3, 30.35, 25.4, 30.5, 15.2}
{'jerry', 'james', 'joe', 'john'}
{10, 20, 50, 30}

In [85]:
sum(s)

170

In [86]:
sum(s1)

162.15

In [87]:
max(s)

60

In [89]:
max(s2)

'john'

In [90]:
max(s5)

50

In [91]:
min(s)

20

In [92]:
len(s5)

4

In [93]:
list(enumerate(s))

[(0, 50), (1, 20), (2, 40), (3, 60)]

In [95]:
S = sorted(s)
S

[20, 40, 50, 60]

In [97]:
S1 = sorted(s1,reverse=True)
S1

[35.4, 30.5, 30.35, 25.4, 25.3, 15.2]