Tuple

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable(Immutable).

In [3]:
t = ()
t

()

In [5]:
type(t)

tuple

Empty Tuple Creation.

In [6]:
t2 = (1, 2, 3)
t2

(1, 2, 3)

Tuple of integers.

In [7]:
t3 = (10.25,50.25, 75.25)
t3

(10.25, 50.25, 75.25)

Tuple of Float Numbers.

In [8]:
t4 = ('apple', 'banana', 'cherry')
t4

('apple', 'banana', 'cherry')

Tuple of strings.

In [9]:
t5 = ('viraj',40,(10,50),(7.5,55))
t5

('viraj', 40, (10, 50), (7.5, 55))

Nested Tuple : Tuple inside the Tuple.

In [10]:
t6 = ('viraj',7,55.60,True,90)
t6

('viraj', 7, 55.6, True, 90)

Tuple of Mixed data types.

In [12]:
t7 = ('viraj',40,(10,50),(7.5,55),{'Gaurav','sunny'})
t7

('viraj', 40, (10, 50), (7.5, 55), {'Gaurav', 'sunny'})

In [13]:
len(t7)

5

Checking The length of t7 using 'len()' function

Tuple Indexing

3 types of Indexing 

1. Forward Indexing 

2. Nested Indexing

3. Backward Indexing

In [14]:
print(t2)
print(t3)
print(t4)
print(t5)
print(t6)
print(t7)

(1, 2, 3)
(10.25, 50.25, 75.25)
('apple', 'banana', 'cherry')
('viraj', 40, (10, 50), (7.5, 55))
('viraj', 7, 55.6, True, 90)
('viraj', 40, (10, 50), (7.5, 55), {'sunny', 'Gaurav'})

In [15]:
t2[0]

1

In [16]:
t3[2]

75.25

In [17]:
t4[1]

'banana'

In [18]:
t5[3]

(7.5, 55)

In [19]:
t6[5]

IndexError: tuple index out of range

In [20]:
t6[4]

90

In [21]:
t7[4]

{'Gaurav', 'sunny'}

This is a forward Indexing of Tuple which is done from Left to Right.

In [24]:
print(t2)
print(t3)
print(t4)
print(t5)
print(t6)
print(t7)

(1, 2, 3)
(10.25, 50.25, 75.25)
('apple', 'banana', 'cherry')
('viraj', 40, (10, 50), (7.5, 55))
('viraj', 7, 55.6, True, 90)
('viraj', 40, (10, 50), (7.5, 55), {'sunny', 'Gaurav'})

In [25]:
t4[0][2]

'p'

This is nested indexing which will access the 3rd character of first element in Tuple.

In [31]:
t5[2][1]

50

In [27]:
t6[0][2]

'r'

In [28]:
t7[4][1]

TypeError: 'set' object is not subscriptable

In [29]:
t7[2][1]

50

This is nested Indexing of Tuple which is done only for String And nested tuple

In [32]:
print(t2)
print(t3)
print(t4)
print(t5)
print(t6)
print(t7)

(1, 2, 3)
(10.25, 50.25, 75.25)
('apple', 'banana', 'cherry')
('viraj', 40, (10, 50), (7.5, 55))
('viraj', 7, 55.6, True, 90)
('viraj', 40, (10, 50), (7.5, 55), {'sunny', 'Gaurav'})

In [33]:
t2[-1]

3

In [34]:
t3[-3]

10.25

In [35]:
t4[-2]

'banana'

In [36]:
t5[-5]

IndexError: tuple index out of range

In [37]:
t5[-3]

40

In [38]:
t6[-5]

'viraj'

In [39]:
t7[-5]

'viraj'

This is a Backward Indexing of Tuple which is done from right side to left side with negative index.

Tuple slicing

In [40]:
print(t2)
print(t3)
print(t4)
print(t5)
print(t6)
print(t7)

(1, 2, 3)
(10.25, 50.25, 75.25)
('apple', 'banana', 'cherry')
('viraj', 40, (10, 50), (7.5, 55))
('viraj', 7, 55.6, True, 90)
('viraj', 40, (10, 50), (7.5, 55), {'sunny', 'Gaurav'})

In [41]:
t2[0:2]

(1, 2)

In [42]:
t3[1:3]

(50.25, 75.25)

In [43]:
t4[0:3]

('apple', 'banana', 'cherry')

In [44]:
t5[1:]

(40, (10, 50), (7.5, 55))

In [45]:
t6[:-1]

('viraj', 7, 55.6, True)

In [46]:
t7[0:]

('viraj', 40, (10, 50), (7.5, 55), {'Gaurav', 'sunny'})

In [47]:
t2[:]

(1, 2, 3)

In [50]:
t4[1:-2]

()

In [53]:
t7[0:1:5]

('viraj',)

Three Types of slicing Forward Backward And Step Slicing Done in Tuple.

Removing And Chaging The Tuple

In [54]:
print(t2)
print(t3)
print(t4)
print(t5)
print(t6)   
print(t7)

(1, 2, 3)
(10.25, 50.25, 75.25)
('apple', 'banana', 'cherry')
('viraj', 40, (10, 50), (7.5, 55))
('viraj', 7, 55.6, True, 90)
('viraj', 40, (10, 50), (7.5, 55), {'sunny', 'Gaurav'})

In [55]:
del t2[0]

TypeError: 'tuple' object doesn't support item deletion

In [56]:
t3[1] = 100

TypeError: 'tuple' object does not support item assignment

In [57]:
del t4

The Tuple is Immutable data structure we cannot add or remove any element inside or from the Tuple we can only del entire tuple object from Memory.

Loop Through The Tuple

In [58]:
t = (10,20,30,40,50,'one','two','three','four','five')
t

(10, 20, 30, 40, 50, 'one', 'two', 'three', 'four', 'five')

In [59]:
for i in t:
    print(i)

10
20
30
40
50
one
two
three
four
five

In [60]:
for i in enumerate(t):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 'one')
(6, 'two')
(7, 'three')
(8, 'four')
(9, 'five')

Looping the Tuple using for Loop.

Tuple Membership

In [62]:
t

(10, 20, 30, 40, 50, 'one', 'two', 'three', 'four', 'five')

In [63]:
10 in t

True

In [64]:
100 in t

False

In [65]:
if 'five' in t:
    print('The Five is present in the tuple')
else: 
    print('The Five is not present in the tuple')

The Five is present in the tuple

In [66]:
if 'ten' in t:
    print('The Ten is present in the tuple')
else:
    print('The Ten is not present in the tuple')

The Ten is not present in the tuple

Here we can check the values are Present In tupple or not .

Index Position

In [67]:
t

(10, 20, 30, 40, 50, 'one', 'two', 'three', 'four', 'five')

In [68]:
t.index(10)

0

In [69]:
t.index('five')

9

In [70]:
t.index('one')

5

We can find the indexed Position of any value in Tuple by using Indext() function.

Sorting

In [72]:
t4 = (45,51,15,7,8,65,91,20,37,18,4)
t4

(45, 51, 15, 7, 8, 65, 91, 20, 37, 18, 4)

In [73]:
sorted(t4)

[4, 7, 8, 15, 18, 20, 37, 45, 51, 65, 91]

In [74]:
sorted(t4,reverse=True)

[91, 65, 51, 45, 37, 20, 18, 15, 8, 7, 4]

We can sort the list in ascending order and descending order by Using sorted function.

Counting

In [76]:
t8 = (10,20,40,10,20,10,50,40,30,40,20,10)
t8

(10, 20, 40, 10, 20, 10, 50, 40, 30, 40, 20, 10)

In [77]:
t8.count(10)

4

In [78]:
t8.count(20)

3

In [79]:
t8.count(40)

3

Using the Count Function we can count same nuumber of elements present inside the tuple.

Tuple compeleted 

we can only use 2 function in Tuple i.e. Index And  Count.

the tuple is immutable hence we canno add remove or edit the tuple.