VARIABLE

In [1]:
a = 5

In [2]:
a

5

In [3]:
type(a)

int

In [4]:
id(a)

140724952508984

In [5]:
b = 5.5

In [6]:
b

5.5

In [7]:
type(b)

float

In [8]:
id(b)

1729013418448

In [9]:
age = 25
print(age)

25

In [10]:
name = "viraj"
print(name)

viraj

In [11]:
price = 19.99
print(price)

19.99

In [2]:
is_active = True

In [3]:
print(is_active)

True

In [5]:
x = 27

In [6]:
print(x)

27

In [7]:
a = 12 
b = 10
result = a + b

In [8]:
print(result)

22

In [2]:
score = 200

score = 100
print (score)

100
100

In [17]:
first_name = "Viraj"
last_name = "Deore"
full_name = first_name +" "+ last_name
print(full_name)

Viraj Deore

In [18]:
length = 4
width = 5
area = length * width
print(area)

20

In [22]:
x = 10
print(x)

10

In [23]:
x = 20
print(x)

20

Rules to Define Python Variable

Rule 1= Variables never starts with digit

In [1]:
1a = 5

SyntaxError: invalid decimal literal (1590746202.py, line 1)

Rule 2 = Variable name does not contain keyword

In [2]:
def = 5

SyntaxError: invalid syntax (3093416914.py, line 1)

Rule 3 = Variables are case sensitive

In [3]:
NIT = 25
nit

NameError: name 'nit' is not defined

Rule 4 = Variable doesnot allow special character except '_'

In [7]:
@ = 10

SyntaxError: invalid syntax (1407219883.py, line 1)

In [1]:
_ = 20
_

20

Rule 5 = Variable name should contain length

In [8]:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa = 10
aaaaaa

NameError: name 'aaaaaa' is not defined

Rule 6 = To  separe the Vairable name '_' is always required.

In [2]:
my name = "viraj"

SyntaxError: invalid syntax (3461161312.py, line 1)

In [4]:
my_name = "viraj"
my_name

'viraj'